In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [98]:
file = pd.read_excel("Copia di BIBLIOTECA_al_22_marzo_2024(1).xlsx")
file

,selezione,Arg.,N.1,N.2,Unnamed: 4,TITOLO,BIBLIO,N.INV.,non presente in scaffale a Maggio 2022,COLORE,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,NaN,30,1,-1-6,AA.VV,Cinque (I) Libri Del Sapere,B1_Centrale,1,NaN,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,30,2,NaN,AA.VV,"Az Panorama -Biologia, Scienza, Tecnica Ecc.",B1_Centrale,2,NaN,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,30,3,-1-2,AA.VV,Piccola Enciclopedia Mondadori,B1_Centrale,3,NaN,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,30,4,-1-2,AA.VV,Piccola Enciclopedia Mondadori,B1_Centrale,4,NaN,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,30,5,-1-2,AA.VV,Piccola Enciclopedia Mondadori,B1_Centrale,5,NaN,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11187,NaN,"ATTENZIONE, ULTIMA PAGINA COON I BORDI (fare c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
file.columns

Index(['selezione', 'Arg.', 'N.1', 'N.2', 'Unnamed: 4', 'TITOLO', 'BIBLIO',
       'N.INV.', 'non presente in scaffale a Maggio 2022', 'COLORE',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
       'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73',
       'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77'],
      dtype='object')

In [100]:
colonne = ["Arg.","N.1","Unnamed: 4","TITOLO","BIBLIO","N.INV.","COLORE"]

In [101]:
data = file[colonne]
data

,Arg.,N.1,Unnamed: 4,TITOLO,BIBLIO,N.INV.,COLORE
0,30,1,AA.VV,Cinque (I) Libri Del Sapere,B1_Centrale,1,G
1,30,2,AA.VV,"Az Panorama -Biologia, Scienza, Tecnica Ecc.",B1_Centrale,2,G
2,30,3,AA.VV,Piccola Enciclopedia Mondadori,B1_Centrale,3,G
3,30,4,AA.VV,Piccola Enciclopedia Mondadori,B1_Centrale,4,G
4,30,5,AA.VV,Piccola Enciclopedia Mondadori,B1_Centrale,5,G
...,...,...,...,...,...,...,...
11183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11185,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11186,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11187,"ATTENZIONE, ULTIMA PAGINA COON I BORDI (fare c...",NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
selected_data_2 =  data.dropna(subset=['COLORE'])

# Cerca l'acronimo "V" nella colonna del colore
risultati = selected_data_2[selected_data_2['COLORE'].str.contains('V')]
risultati

,Arg.,N.1,Unnamed: 4,TITOLO,BIBLIO,N.INV.,COLORE
83,100,37,VOLTAIRE,Trattato Sulla Tolleranza,B1_Centrale,2403,V
88,100,42,ILLUMINATI AUGUSTO,Jean Jacques Rousseau,B1_Centrale,3022,V
117,100,73,CASANOVA GIACOMO,Pensieri Libertini,B1_Centrale,8739,V
122,100,78,HARRIS THOMAS A.,"Io Sono Ok,Tu Sei Ok",B1_Centrale,8675,V
124,100,80,MANTOVANI GIUSEPPE,Qualita' (La) Dell'Interazione Uomo-Computer,B1_Centrale,9423,V
...,...,...,...,...,...,...,...
11081,Nr,518,S. CONFORTI,L'altra faccia della diversità,B1_Centrale,NaN,V
11082,Nr,519,S. GARDNER,Il pianeta di Standish,B1_Centrale,NaN,V
11083,Nr,520,R. LAPPERT,Pampa blues,B1_Centrale,NaN,V
11084,Nr,521,S. BERTOLA,Solo Flora,B1_Centrale,NaN,V
11085,Nr,522,A. PELLAI,Baciare fare dire,B1_Centrale,NaN,V

In [103]:
selected_data = risultati.copy()
selected_data.dropna(inplace=True)

In [104]:
# tabella con tutti i libri verdi
selected_data

,Arg.,N.1,Unnamed: 4,TITOLO,BIBLIO,N.INV.,COLORE
83,100,37,VOLTAIRE,Trattato Sulla Tolleranza,B1_Centrale,2403,V
88,100,42,ILLUMINATI AUGUSTO,Jean Jacques Rousseau,B1_Centrale,3022,V
117,100,73,CASANOVA GIACOMO,Pensieri Libertini,B1_Centrale,8739,V
122,100,78,HARRIS THOMAS A.,"Io Sono Ok,Tu Sei Ok",B1_Centrale,8675,V
124,100,80,MANTOVANI GIUSEPPE,Qualita' (La) Dell'Interazione Uomo-Computer,B1_Centrale,9423,V
...,...,...,...,...,...,...,...
8337,Nr,500,MANZONI ALESSANDRO,I Promessi Sposi,B1_Centrale,10899,V
8338,Nr,501,ALIGHIERI DANTE,La Divina Commedia,B1_Centrale,10900,V
8339,Nr,502,MAZZAFERRO ALESSANDRO,La Storia di Odisseo,B1_Centrale,10901,V
8340,Nr,503,VERGA GIOVANNI,Rosso Malpelo e altre Novelle,B1_Centrale,10902,V
8341,Nr,504,PAPESCHI MARCELLA,Sulle Tracce della Grande Guerra,B1_Centrale,10903,V

In [105]:
selected_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 887 entries, 83 to 8341
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Arg.        887 non-null    object
 1   N.1         887 non-null    object
 2   Unnamed: 4  887 non-null    object
 3   TITOLO      887 non-null    object
 4   BIBLIO      887 non-null    object
 5   N.INV.      887 non-null    object
 6   COLORE      887 non-null    object
dtypes: object(7)
memory usage: 55.4+ KB

In [106]:
selected_data.to_csv('verdi.csv', index=False)